[Unit]
Description=Interface virtuelle WiFi AP (uap0)
After=network.target
# On attend que wlan0 soit prêt mais pas forcément connecté
BindsTo=sys-subsystem-net-devices-wlan0.device

[Service]
Type=oneshot
# 0. Nettoyer une éventuelle interface uap0 orpheline (reboot chaud, crash)
ExecStartPre=-/sbin/iw dev uap0 del
# 1. Créer l'interface
ExecStartPre=/sbin/iw dev wlan0 interface add uap0 type __ap
# 2. Dériver la MAC de uap0 depuis wlan0 (bit locally-administered)
ExecStartPre=/usr/bin/python3 -c 'import subprocess; p=open("/sys/class/net/wlan0/address").read().strip().split(":"); p[0]=format((int(p[0],16)|2)&254,"02x"); subprocess.run(["ip","link","set","dev","uap0","address",":".join(p)])'
# 3. Monter l'interface
ExecStart=/sbin/ip link set dev uap0 up
# 4. Assigner l'IP ---
ExecStartPost=/sbin/ip addr add ${SPOT_IP}/24 dev uap0
ExecStop=-/sbin/iw dev uap0 del
RemainAfterExit=yes
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target