[Unit]
Description=Reconnexion automatique enceinte Bluetooth
# On ajoute l'attente du service utilisateur
After=bluetooth.service user@${SOUNDSPOT_UID}.service
Wants=bluetooth.service user@${SOUNDSPOT_UID}.service

[Service]
Environment=SOUNDSPOT_UID=${SOUNDSPOT_UID}
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/opt/soundspot/soundspot.conf
# On laisse un peu de temps au boot
ExecStartPre=/bin/sleep 5
ExecStart=/opt/soundspot/backend/system/bt-connect.sh
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target