[Unit]
Description=Interface WiFi AP SoundSpot (${IFACE_AP})
After=network.target

[Service]
Type=oneshot
EnvironmentFile=/opt/soundspot/soundspot.conf
# On ajoute || true pour forcer le code retour à 0 même si uap0 existe déjà
ExecStartPre=/bin/bash -c '\
  if [ "$IFACE_AP" = "uap0" ]; then \
    /sbin/iw dev wlan0 interface add uap0 type __ap 2>/dev/null || true; \
    /opt/soundspot/backend/system/soundspot-uap0-mac.sh || true; \
  elif ! /sbin/ip link show "$IFACE_AP" > /dev/null 2>&1; then \
    WAN_PHY=$(/sbin/iw dev "$IFACE_WAN" info 2>/dev/null | awk "/wiphy/{print \"phy\"\$2}"); \
    for p in /sys/class/ieee80211/*/; do \
      PHY=$(basename "$p"); \
      if [ "$PHY" != "$WAN_PHY" ]; then \
        /sbin/iw phy "$PHY" interface add "$IFACE_AP" type managed 2>/dev/null && break; \
      fi; \
    done; \
  fi'
# Monter l'interface
ExecStart=/sbin/ip link set dev ${IFACE_AP} up
# Assigner l'IP
ExecStartPost=/sbin/ip addr replace ${SPOT_IP}/24 dev ${IFACE_AP}
# Au stop, on ajoute || true pour que Systemd ne plante pas si l'interface est déjà supprimée
ExecStop=/bin/bash -c 'if [ "${IFACE_AP}" = "uap0" ]; then /sbin/iw dev uap0 del 2>/dev/null || true; else /sbin/ip link set dev ${IFACE_AP} down 2>/dev/null || true; fi'
RemainAfterExit=yes
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target